.app {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.545); /* Adjust the opacity for darkness */
  z-index: 0;
}

.app > * {
  position: relative;
  z-index: 1;
}

.error {
  color: red;
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.result-item {
  flex: 1 0 calc(33.333% - 20px); /* Adjust width based on gap */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.images img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  display: block;
}
